<header class="sticky-top">
  <mat-toolbar>
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" class="img-fluid">
    </a>
  </mat-toolbar>
</header>
<nav class="navbar sticky-top navbar-light bg-white navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto mt-4 mt-lg-0">
      <li class="nav-item">
        <a mat-button routerLink="home">
          <i style="color: #1bb0ce"  class="fa fa-home fa-1x" aria-hidden="true"> Home </i>
        </a>
      </li>
      <li class="nav-item ml-lg-2">
        <a mat-button href="#">
          <i style="color: #1bb0ce" class="fa fa-plane fa-1x" aria-hidden="true"> flight Deal</i>
        </a>
      </li>
    </ul>
  </div>
</nav>