<div *ngIf="searchDetail" class="row">
  <mat-toolbar class="col-lg-12 bgMain">
    <div class="mx-auto">
      {{searchDetail.city}}, {{searchDetail.state}}
    </div>
    <div class="mx-auto">
      <span>
        <img [src]="logo" height="65px">
      </span>
      <span> {{searchDetail.departmentDsc}}</span>
    </div>
  </mat-toolbar>
  <div class="col-lg-12">
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 16px;">
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Basic description about the district where that city falls...
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-8">
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 16px;">
          Address :
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{searchDetail.address}}
        <br> PIN Code: {{searchDetail.pinCode}}
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 20px;">
          Guest House Detail :
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 20px;">
          Booking Procedure :
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <b>Booking Authority :</b> {{searchDetail.bookingAuthority}}
        </p>
        <mat-divider></mat-divider>
        <p>
          <b>Contact No :</b> {{searchDetail.contactNumber}}
        </p>
        <mat-divider></mat-divider>
        <p>
          <b>Email:</b> {{searchDetail.emailAdd}}
        </p>
        <mat-divider></mat-divider>
        <p>
          <b>Fax:</b> {{searchDetail.bookingFaxNo}}
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 20px;">
          Gallery :
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="mt-3 row">
      <mat-card-header>
        <mat-card-title style="font-size: 20px;">
          Google Map :
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <app-gallery></app-gallery>
  </div>
  <div class="col-lg-4">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title style="font-size: 20px;">
            Feedbak/suggestion :
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field style="width:100%">
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="comment" matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=5></textarea>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field style="width:100%">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="submitComment()" class="bgMain">
            <i class="fa fa-submit fa-1x" aria-hidden="true"></i>submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>