<div class="row mt-3">
  <div class="col-md-6 col-lg-4" mt-2>
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 1
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 2
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 3
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 4
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 5
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 6
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 7
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 8
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 9
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="">
      </mat-card-content>
      <mat-card-subtitle>
        deal 10
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button [routerLink]="['gallery/item']">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>