// @import '~bootstrap/scss/bootstrap-reboot';
// @import '~bootstrap/scss/bootstrap-grid';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/font-awesome/css/font-awesome.css';

.app-loading {
    .logo {
      width: 300px;
      height: 50px;
      
      // this way asset gets processed by webpack 
      background: url(./assets/loaderHome.png) center center no-repeat; 
    }
  }

  .bgMain{
    //background: url(./assets/images/banner-img.jpg) center center no-repeat !important;
    // background-image: radial-gradient(circle at 50% -9%,#35ae50,#2f9a7b)!important;
    background-image: radial-gradient(circle at 50% -9%,#abb9f5,#17485f)!important;
    color: #fff
  }

  .header {
    background-image: radial-gradient(circle at 50% -9%,#cbd2ee,#a3d8f0)!important;
    color: #fff;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}

.mat-btn-width{
  width: 100% !important;
}

#navbarText ul li{
  text-align: center;
}

.list-group-item{
  padding: 10px
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

.footer {
  flex: 0 0 auto;
  padding: 0 15px;
  text-align: center;
  z-index: 1;
  background-image: radial-gradient(circle at 50% -9%,#cbd2ee,#a3d8f0)!important;

  .row {
    padding: 10px 0;

    .links {
      a {
        transition: padding 0.5s;
        display: inline-block;
        padding: 20px 5px;
        color:white;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          width: 75px;
          padding: 0 0 0 5px;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          transition: width 0.5s;
        }
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        a {
          padding: 20px;

          span {
            width: 0;
            padding: 0;
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        a {
          padding: 20px 5px;
        }
      }
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      .signature {
        position: relative;

        a {
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}

// .app-toolbar {
//   position: sticky;
//   position: -webkit-sticky; /* For macOS/iOS Safari */
//   top: 0; /* Sets the sticky toolbar to be on top */
//   z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
// }