<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a>
        <small class="txt-primary">a complete guide to Government accomodations</small>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div class="jumbotron">
      <form>
        <mat-form-field>
          <input matInput placeholder="Search your location">
        </mat-form-field>
        <a mat-button>
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </a>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<div class="row mt-3">
  <div class="col-md-6 col-lg-4">
    <mat-card>
      <mat-card-title>
        <a>
          <h5 class="txt-primary">Hot deals</h5>
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <small>November 11, 2014</small>
      </mat-card-subtitle>
      <mat-card-content>
        Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <!-- <i class="fa fa-book fa-lg"></i> Docs -->
          <small class="txt-primary"> READ MORE </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4  mt-2 mt-lg-0">
    <mat-card>
      <mat-card-title>
        <a>
          <h5 class="txt-primary">Amazing Places</h5>
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <small>November 11, 2014</small>
      </mat-card-subtitle>
      <mat-card-content>
        Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse […
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <!-- <i class="fa fa-book fa-lg"></i> Docs -->
          <small class="txt-primary"> READ MORE </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4 mt-2 mt-lg-0">
    <mat-card>
      <mat-card-title>
        <a>
          <h5 class="txt-primary">Travel Insurance</h5>
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <small>November 15, 2014</small>
      </mat-card-subtitle>
      <mat-card-content>
        Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse […
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <small class="txt-primary"> READ MORE </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 col-lg-4">
      <mat-card>
        <mat-card-title>
          <a>
            <h5 class="txt-primary">Plan your Trip</h5>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          <small>November 11, 2014</small>
        </mat-card-subtitle>
        <mat-card-content>
          Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <small class="txt-primary"> READ MORE </small>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
