<mat-card class="bgMain">
  <!-- <mat-card-header>
    <mat-card-title>
      <a>
        <small class="txt-primary">a complete guide to Government accomodations</small>
      </a>
    </mat-card-title>
  </mat-card-header> -->
  <mat-card-content class="dashboard-card-content">
    <h1>Looking for Government Guest House !</h1>
    <span>Find complete detail of Sarkari Guest Houses</span>
    <form>
      <mat-form-field style="display: block;">
        <input matInput placeholder="Search your location">
      </mat-form-field>
      <a mat-button>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </a>
    </form>
  </mat-card-content>
</mat-card>

<div class="row mt-3">
  <div class="col-12">
    <mat-card-title>
      <a>
        <h5 class="txt-primary">Featured Trip</h5>
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <small>This is the best place to show your other travel packages. Purus ac congue arcu cursus ut vitae pulvinar massaidp.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</small>
    </mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
        <small class="txt-primary"> VIEW DETAILS </small>
      </a>
    </mat-card-actions>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <mat-card-title>
      <a>
        <h5 class="txt-primary">Plan your trip</h5>
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <small>This is the best place to plan your other travel packages.</small>
    </mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
        <small class="txt-primary"> VIEW DETAILS </small>
      </a>
    </mat-card-actions>
  </div>
</div>

<app-gallery></app-gallery>

<div class="row mt-3">
  <div class="col-12">
    <mat-card-title>
      <a>
        <h5 class="txt-primary">Latest Articles</h5>
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <small>Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod </small>
    </mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
        <small class="txt-primary"> VIEW DETAILS </small>
      </a>
    </mat-card-actions>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 col-lg-4 mt-2 mt-lg-0">
    <mat-card>
      <mat-card-title>
        <h5 class="txt-primary">Summer Special</h5>
      </mat-card-title>
      <mat-card-content>
        Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4 mt-2 mt-lg-0">
    <mat-card>
      <mat-card-title>
        <h5 class="txt-primary">Amazing Places</h5>
      </mat-card-title>
      <mat-card-content>
        <p>
          Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-4 mt-2 mt-lg-0">
    <mat-card>
      <mat-card-title>
        <h5 class="txt-primary">Travel Insurance</h5>
      </mat-card-title>
      <mat-card-content>
        <p>
          Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <small class="txt-primary"> VIEW DETAILS </small>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>